#mainWindow {
    
    width: 100%;
    height: 100%;
    display: flex !important;
    
    justify-content: flex-start !important; /* align items in Main Axis */
    align-items: stretch !important; /* align items in Cross Axis */
    align-content: stretch !important; /* Extra space in Cross Axis */
            
    background: rgba(255, 255, 255, .1);
    flex-direction: row !important;

     #leftPane {
        padding: 8px !important;
        flex: 1 !important;
        overflow-y: auto !important;
        /* same as flex: 1 1 auto; */
        height: calc(100vh - 64px/* - 64px*/) !important;
    }

    #exemple-map {
        position: relative ;
        padding: 8px !important;
        flex: 3 !important;
    }

    #rightPane {
        padding: 8px !important;
        flex: 1 !important;
    }


}